@font-face {
    font-family: '04b03';
    src: url('/fonts/hinted-04b03.eot');
    src: local('04b03'),
        url('/fonts/hinted-04b03.eot?#iefix') format('embedded-opentype'),
        url('/fonts/hinted-04b03.woff2') format('woff2'),
        url('/fonts/hinted-04b03.woff') format('woff'),
        url('/fonts/hinted-04b03.ttf') format('truetype'),
        url('/fonts/hinted-04b03.svg#04b03') format('svg');
    font-weight: normal;
    font-style: normal;
}

